<!-- Carrousel Inicio -->
<div id="carouselInicio" class="container-fluid">
  <div class="row text-center mx-0 my-0">
    <div class="col-12 px-0 py-0">
      <div id="carrusel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/imagen1.jpg" alt="Dibujo en el que se aprecia 3 personas recogiendo basura de la playa">
            <div class="carousel-caption">
              <h3>Ayudanos a limpiar las playas</h3>
              <button class="btn-lg" routerLink="/campanas">Nuestra campañas</button>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/imagen2.jpg" alt="Una fotografía de la profundida del océano">
            <div class="carousel-caption">
              <h3>Nuestro compromiso, Cuidar el mar</h3>
              <button class="btn-lg" routerLink="/compromiso">Informate</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Presentacion -->
<div class="container cuerpo" id="presentacion">
  <div class="row">
    <div class="col-12 text-center">
      <span class="horizontal-bar"></span>
      <img src="../../assets/img/logo.png" alt="Logo de OceanClean" id="logoPre">
      <span class="horizontal-bar"></span>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6 textPre">
      <h2>{{title}}</h2>
      <p class="textPre1">¡Bienvenido a nuestra web! Nos dedicamos a la gestión y organización de actividades de limpieza de playas. Nuestro objetivo principal es concienciar sobre la importancia de mantener nuestras playas limpias y promover acciones responsables para preservar el medio ambiente marino.</p>
      <br><p>Trabajamos en conjunto con organizaciones locales y autoridades para llevar a cabo estas acciones de manera efectiva y lograr un impacto positivo en el ecosistema marino.</p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="icon-container iconoPre">
            <i class="bi bi-droplet-fill"></i>
          </div>
          <p class="iconoText">Cuidamos y respetamos el mar y su fauna, protegiendo las especies marinas y preservando los ecosistemas costeros. Trabajamos por un entorno marino saludable y sostenible para las generaciones futuras.</p>
        </div>
        <div class="col-sm-6">
          <div class="icon-container iconoPre">
            <i class="bi bi-globe"></i>
          </div>
          <p class="iconoText">Cuidar de las playas es proteger la vida marina y preservar su belleza para las futuras generaciones. ¡Un compromiso vital para nuestro planeta!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="icon-container iconoPre">
            <i class="bi bi-recycle"></i>
          </div>
          <p class="iconoText">Recogemos y reciclamos los residuos de las playas para proteger nuestros océanos. ¡Juntos, podemos crear un futuro sin contaminación marina!</p>
        </div>
        <div class="col-sm-6">
          <div class="icon-container iconoPre">
            <i class="bi bi-thermometer-high"></i>
          </div>
          <p class="iconoText">Frente al calentamiento global, protegemos nuestras playas. ¡Juntos, mitigamos el impacto y preservamos nuestros preciosos ecosistemas costeros!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- campannas -->
<div class="container-fluid campannas cuerpo">
  <div class="wave-container">
    <div class="wave"></div>
  </div>
  <div class="row campannasRow"> 
    <div class="col-lg-6 col-sm-12 col-md-12 bg-image">
      <div class="content ">
        <h2 class="px-5">Nuestras campañas</h2>
        <p class="px-5">Nuestras campañas de limpieza de playas en Andalucía concientizan y movilizan a la comunidad para proteger nuestros espacios costeros. Únete a nuestro movimiento comprometido en la preservación de nuestras playas y marca una diferencia real en la salud de nuestros mares.</p>
        <br><p class="px-5">Juntos, protejamos nuestro valioso patrimonio natural para un futuro más limpio y sostenible. Únete a nuestras campañas en Andalucía y cuidemos nuestras playas.</p>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
      <div class="button-container">
        <button class="centered-button btn-lg" routerLink="/campanas">Colabora</button>
      </div>
    </div>
  </div>
</div>
<!-- Mapas -->
<div class="container mapas cuerpo">
  <div class="row text-center">
    <div class="col py-5">
      <h2>Descubre los mapas de limpieza de playa</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p>A través de nuestros mapas interactivos, podrás conocer información clave sobre la calidad del agua en diferentes ubicaciones, identificar áreas afectadas por la contaminación y comprender mejor los desafíos ambientales que enfrentamos. Además, podrás descubrir medidas y soluciones propuestas para abordar estos problemas y promover un cambio positivo en la protección de nuestros recursos acuáticos.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="button-container py-5">
        <button class="centered-button btn-lg" routerLink="/mapas">Ver mas Mapas</button>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col py-5">
      <iframe  src="https://www.google.com/maps/d/embed?mid=1Go2iMplDBfwiq_lJQEvDL3VP0VC2S4o&ehbc=2E312F" frameborder="0" width="100%" height="800" scrollwheel="false"></iframe>
    </div>
  </div>
</div>
<!-- Call Action --> 
<div class="container-fluid bloq1">
  <div class="callAction">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="text-center callActionCol">
          <h5>Usuarios registrados</h5>
          <p class="fs-1" *ngIf="numUser.length > 0">{{numUser[0].num_users}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center callActionCol">
          <h5>Campañas Realizadas</h5>
          <p class="fs-1" *ngIf="numUser.length > 0">{{numCamp[0].num_camp}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center callActionCol">
          <h5>Organizaciones participes</h5>
          <p class="fs-1" *ngIf="numUser.length > 0">{{numOrg[0].num_org}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carrousel de imagenes --> 
<div class="container organizaciones">
  <div class="row text-center">
    <div class="col py-5">
      <h2>Organizaciones comprometidas con la limpieza costera</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p class="cuerpo">Descubre las organizaciones que colaboran con nuestro proyecto de limpieza de playa. Estas instituciones dedicadas se esfuerzan por mantener nuestros entornos costeros libres de basura y proteger la vida marina. Conoce su labor y únete a nosotros en nuestro esfuerzo por preservar la belleza natural de nuestras playas.</p>
    </div>
  </div>
  <div id="organizaciones" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let img of imgOrg; let i = index">
        <img [src]="img.imageOrg" class="d-block mx-auto w-50" alt="{{img.imageOrg}}">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#organizaciones" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#organizaciones" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>