.color{--prussian-blue: #012a4aff;}
.color{--indigo-dye: #013a63ff;}
.color{--indigo-dye-2: #01497cff;}
.color{--indigo-dye-3: #014f86ff;}
.color{--ucla-blue: #2a6f97ff;}
.color{--cerulean: #2c7da0ff;}
.color{--air-force-blue: #468fafff;}
.color{--air-superiority-blue: #61a5c2ff;}
.color{--sky-blue: #89c2d9ff;}
.color{--light-blue: #a9d6e5ff;}

/* Portada */
.dark-overlay-section {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/img/imagen2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-overlay-section h1{
  font-family: 'Finger Paint', cursive;
  color: #a9d6e5ff;
  font-size: 4rem;
}